*{margin: 0;padding: 0;
}
.From{
    background-color: var(--Container);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border: none;
    /* background-color: red; */
    
    
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-top: 5px; */
    
}
.Form_container{
    box-shadow: 0px 0px 2px 2px rgb(160, 160, 190);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    
}
.input_Container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.input{
    width: 90%;
    height: 50px;
    margin-top:10px ;
    font-size: 25px;
    cursor: pointer;
}
.submit{
    font-weight: bold;
    color: white;
    background-color: var(--Primary);
    margin-bottom: 20px;
}
.submit:hover{
    font-weight: bolder;
    color: white;
    background-color: var(--Primary_Dark);
    margin-bottom: 20px;
}
.clear{
    font-weight: bold;
    color: white;
    background-color: var(--Secondary);
    margin-bottom: 20px;
}
.clear:hover{
    font-weight: bolder;
    color: white;
    background-color: var(--Secondary_Dark);
    margin-bottom: 20px;
}